src/main/resources
src/main/java/com/example/demo/config/secret/Secret.java

out/production/classes/com/example/demo/config/secret/Secret.class
out/production/resources/application.yml

build/resources/main/application.yml
build/classes/java/main/com/example/demo/config/secret/Secret.class
