# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/




#주석 처리 (경로를 써줘야 하지 않나?)
config/secret/Secret.java

